<html>
	<head>
		<title>
			Random Page
		</title>
	</head>
	<style>
		h1{
			font-size: 30;
			font-family: Georgia, serif
		}
		h3{
			font-family: Georgia, serif;
			color: #bc2105;
			font-style: italic;
			font-size: 24
		}
		p{
			font-size: 24
		}
	</style>
	<body>
		<h1>
			Random Page
		</h1>
		<div>
			<h3>
				Why are pencils yellow?
			</h3>
			<p>
				American pencil makers wanted a special way to tell people that their pencils contained Chinese graphite. In China, the color yellow is associated with royalty and respect. American pencil manufacturers began painting their pencils bright yellow to communicate this “regal” feeling and association with China.
			</p>
		</div>
		<div>
			<h3>
				Can female fireflies fly?
			</h3>
			<p>
				Male fireflies can fly, but female fireflies often can't because their wings are too short. The female firefly perches itself on a bush or a rock and waits. When a male passes by with a signal the female recognizes, the female flashes back the same signal.			
			</p>
		</div>
		<div>
			<h3>
				Can clownfish change gender?
			</h3>
			<p>
				Clownfish, wrasses, moray eels, gobies and other fish species are known to change sex, including reproductive functions. A school of clownfish is always built into a hierarchy with a female fish at the top. When she dies, the most dominant male changes sex and takes her place.		
			</p>
		</div>
		<div>
			<h3>
				How tall is a skyscraper?
			</h3>
			<p>
				There is no official definition or height above which a building may clearly be classified as a skyscraper. Most cities define the term empirically; even a building of 80 meters (262 feet) may be considered a skyscraper if it protrudes above its built environment and changes the overall skyline.		
			</p>
		</div>
	</body>
</html>